<html>

<head>
    <!--Title-->
    <title>Music By Mood</title>

    <!--Meta Tags which give information about the site but do not display-->
    <meta name="description" content="Music By Mood Website">
    <meta name="keywords" content="HTML, CSS, Javascript, Python">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Link to stylesheet (External Style Sheet) -->
    <link rel="stylesheet" href="../../static/css/General.css">

</head>

<body id="body">

    <header>
        <img id='logo' src='static/img/MusicByMoodLogo.png' width='500px'><br>
        <button onclick="location.href='/'">Listen</button><br>
    </header>

    <div id="errorPage">

        <header>
            	<p id='errorTitle'><b>Uploaded images must be .jpg format!</b></p>
		<img id='erro_picr' src="static/img/error.jpg" height="250" width="250"><br>            
        </header>

    </div>

</body>

</html>
